<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
 
 	<typeAliases>
          <typeAlias type="com.songiam.www.model.User" alias="userVO"/>
          <typeAlias type="com.songiam.www.model.Comment" alias="commentVO"/>
          <typeAlias type="com.songiam.www.model.ContactMessage" alias="ContactMessageVO"/>
    </typeAliases>
    
</configuration>
